<h1>Bienvenidos a Este Blog</h1>
<button class="show-btn">Mostrar alerta</button>
<br>
<%= link_to 'Productos', {controller: 'products', action: 'index'}  %>

<script>
    //new ProductsView();
    //$('.show-btn').on('click', function () {
     //   alert("Esta es una prueba");
    //});
</script>

